* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
  :root {
    --color-primary: #4d1a1c;
    --color-secondary: #91323d;
    --color-white: #110e0e;
    --color-black: #000;
  } 
  body {
    background-color: var(--color-primary);
    color: var(--color-white);
    margin: 25px;
    overflow-x: hidden;
  }
  h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
  }
  input {
    height: 50px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid var(--color-white);
    outline: none;
    background: transparent;
    color: var(--color-white);
    padding: 0px 6px;
  }
  ::placeholder {
    color: var(--color-white);
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0px;
  }
  .container {
    background-color: var(--color-secondary);
    color: var(--color-white);
    width: 450px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
  #btn {
    height: 40px;
    font-size: 16px;
    color: var(--color-white);
    font-weight: 600;
    cursor: pointer;
  }
  #showmsg {
    font-size: 18px;
    font-size: 500;
    color: var(--color-white);
  }